[alias]
  alias   = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
  as      = !git add -A && git status
  br      = branch
  cancel  = reset --soft HEAD^
  cam     = commit --amend
  cm      = commit
  cmm     = commit -m
  co      = checkout
  d       = diff
  ds      = diff --staged
  l       = log
  lg      = log --graph
  lo      = log --pretty=oneline
  lgo     = log --graph --pretty=oneline
  st      = status
  unstage = reset HEAD
  wip     = !git commit -m 'wip'
  zip     = !git archive HEAD --format=zip --output `git symbolic-ref --short HEAD`.zip
[core]
  editor = vim
[push]
  default = upstream
[pull]
  rebase = false
[user]
  name   = 0x04
  email  = 0x04@arch4e.com
